.header-container{
    display: flex;
    justify-content: space-between;
}

.items-center{
    width: 100%;
}


@media screen and (max-height: 950px){
    .user-profile{
        display: none;
    }
}